.empresa-container {
    width: 100%;
    padding-bottom: 0;
    .full {
        width: 100%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 25px;
        margin-bottom: 50px;
        h2 {
            font-size: 20px;
            margin-bottom: 25px;
            color: $light-blue;
            font-weight: bold;
        }
    }
    form {
        width: 100%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .left {
            width: calc(40% - 10px);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 25px;
            margin-bottom: 50px;
            h2 {
                font-size: 20px;
                margin-bottom: 25px;
                color: $light-blue;
                font-weight: bold;
            }
        }
        .right {
            width: calc(60% - 10px);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 25px;
            margin-bottom: 50px;
            .MuiFormControl-root {
                width: 100%;
            }
            .section{
                width: 100%;
                margin-bottom: 25px;
                h2 {
                    font-size: 20px;
                    color: $light-blue;
                    font-weight: bold;
                    margin-bottom: 25px;
                }
            }
        }
        .full-button {
            margin-top: 50px;
            width: 100%;
        }
    }
}

.fix-top{
    padding-top: 20px !important;
}
.cargando{
    float:right;
    font-size: 12px;
    color: red;
}