header {
    .toolbar {
        justify-content: space-between;
        svg,
        .MuiButton-text {
            color: white;
        }
    }
    h6 {
        img {
            height: 50px;
            padding-top: 5px;
        }
        span {
            font-size: 18px;
            margin-left: 25px;
        }
    }
}
.drawer-header {
    text-align: right;
}
.link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
}
.MuiDrawer-paper {
    background-color: transparent !important;
    background-image: -webkit-linear-gradient(60deg, rgb(63, 81, 181) 0%, rgb(78, 99, 213) 100%) !important;
    .MuiButtonBase-root,
    svg {
        color: white !important;
    }
    .Mui-selected {
        background-color: rgba(255, 255, 255, 0.25) !important;
    }
    hr {
        background-color: rgba(255, 255, 255, 0.25);
    }
}
