header{
    .toolbar{
        justify-content: space-between;
        background:white;
        &.red{
            background:transparent;
            background-image: -webkit-linear-gradient( 60deg, rgb(222,63,138) 0%, rgb(250,97,97) 100%);
            svg,
            .MuiButton-text{
                color: white;
            }
        }
        svg,
        .MuiButton-text{
            color: black;
        }
    }
    h6{
        img{
            height: 50px;
        }
        span{
            font-size: 18px;
            margin-left: 25px;
        }
    }
}
.drawer-header{
    text-align: right;
}
.link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
}
.MuiDrawer-paper{
    background-color: transparent !important;
    background-image: -webkit-linear-gradient( 60deg, rgb(242,50,50) 0%, rgb(244,102,66) 100%) !important;
    .MuiButtonBase-root,
    svg{
        color: white !important;
    }
    .Mui-selected{
        background-color: rgba(255, 255, 255, 0.25) !important;
    }
    hr{
        background-color: rgba(255, 255, 255, 0.25);
    }
}