.main-container{
    padding: 27px 15px;
    .landing-container{
        background: white;
        width: 100%;
        padding: 0 15px 15px;
        &.with-spacing{
            padding: 25px;
        }
        .form-item{
            width: 100%;
            &.margin-fix{
                margin-top: 16px;
            }
            &.margin-fix2{
                margin-top: 27px;
            }
            &.small{
                width: 50%;
            }
        }
        .comentarios{
            width: 100%;
            margin: 25px 0;
            li{
                background: white;
                width: 100%;
                border-bottom: 1px solid #e0e0e0;
                padding: 10px 5px;
                &:nth-child(even){
                    background: #f4f4f4;
                }
                .date{
                    width: 100%;
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                .user{
                    width: 100%;
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                .comment{
                    width: 100%;
                    font-size: 18px;
                    line-height: normal;
                }

            }
        }
    }
}

.full-width{
    width: 100%;
}
.center-me{
    text-align: center;
}
.cisterna{
    display: inline-block;
    background: url(../images/cisterna.png) no-repeat bottom left;
    background-size: 100%;
    margin: 0 auto;
    width: 550px;
    height: 222px;
    @media(max-width:767px ){
        width: 450px;
        height: 205px;
    }
    @media(max-width:575px ){
        width: 320px;
        height: 135px;
    }
    .cisterna-circle{
        height: 123px;
        // border: 5px solid #574538;
        margin-top: 14px;
        // border-radius: 50px;
        display: flex;
        overflow: hidden;
        width: 100%;
        .cont{
            width: 100%;
            // background: #E9DDCA;
            position: relative;
            border-right: 5px solid #5D616C;
            &:first-of-type{
                border-bottom-left-radius: 40px;
                border-top-left-radius: 60px;
                overflow: hidden;
            }
            &:last-of-type{
                border-right: none;
                border-bottom-right-radius: 40px;
                border-top-right-radius: 60px;
                overflow: hidden;
            }
            @media(max-width:767px ){
                top: 20px;
                height: 106px;
            }
            @media(max-width:575px ){
                top: 0;
                height: 73px;
            }
            .number{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 18px;
                z-index: 1;
                @media(max-width:575px ){
                    font-size: 14px;
                }
            }
            .product{
                float: left;
                width: 100%;
                text-align: center;
                padding-top: 5px;
                position: relative;
                z-index: 1;
            }
            .fill{
                width: 100%;
                height: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: all 1.5s;
            }
        }
        .full{
            background: green;
            color: white;
        }
    }
}

.margin-separation{
    margin-top: 50px !important;
}
.padding-top-separation{
    padding-top: 50px;
}
.padding-bottom-separation{
    padding-bottom: 50px !important;
}

button.margin-fix{
    margin-top: 28px;
}

.pull-right{
    float: right;
}
h3.transporte-title{
    float: left;
    width: 100%;
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.log-list{
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 5px;
    &:nth-child(even){
        background: #f4f4f4;
    }
}
.right_justify{
    text-align: right;
}
.progress{
    float: right;
    margin-top: 5px;
    width: 150px;
}
button.margin-fix2{
    margin-top: 27px !important;
}