.user-container{
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .full {
        width: 100%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 25px;
        margin-bottom: 50px;
        margin-top: 30px;
        h2 {
            font-size: 20px;
            margin-bottom: 25px;
            color: $light-blue;
            font-weight: bold;
        }
    }
    .left{
        width:  calc(40% - 10px); 
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 25px;
    }
    .right{
        width: calc(60% - 10px);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 25px;
        .MuiFormControl-root{
            width: 100%;
        }
    }
    .full-button{
        margin-top: 50px;
        width: 100%;
    }
}
.table-container{
    width: 100%;
    margin-top: 25px;
    .detail-table{
        width: 100%;
        font-size: 12px;
        thead{
            tr{
                th{
                    background: lighten($blue,20);
                    padding: 15px 0;
                    color: white;
                    border: 1px solid white;
                }
            }
        }
        tbody{
            tr{
                td{
                    background: $lightgray;
                    border: 1px solid white;
                    text-align: center;
                }
            }
        }
    }
}
label.manual{
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.54);
}