@import "scss/reset";
@import "scss/landing";
@import "scss/header";
@import "scss/lists";
@import "scss/usuarios";
@import "scss/empresas";

@import "scss/home";

.centertext {
    label {
        left: 50%;
        transform: translate(-50%, 0) scale(0.75);
    }
    input {
        text-align: center;
    }
}
.file-link {
    float: left;
    width: 100%;
    margin-top: 15px;
    font-weight: bold;
    color: $blue;
}
.swal-content {
    div {
        font-weight: 200;
        strong {
            color: $red;
            font-weight: 400;
        }
    }
}
.view-link {
    padding: 10px;
    display: inline-block;
    background: #1d4b9a;
    color: white;
    border-radius: 4px;
    margin: 5px;
    text-decoration: none;
    font-size: 16px;
    &:hover {
        background: lighten(#1d4b9a, 10);
    }
    &.rechazar {
        background: #f50057;
        cursor: pointer;
        &:hover {
            background: darken(#c51162, 10);
        }
    }
    &.ver-rechazo {
        background: #7b1fa2;
        cursor: pointer;
        &:hover {
            background: lighten(#7b1fa2, 10);
        }
    }
}
